


  <section class="main-content">
    <p>Smith Schwartz is a cross-media design professional with experience in interaction design, UX, front-end development, exhibitions, planning and conservation in San Francisco, California.</p>

    <section class="projects">
      <h3>Projects</h3>

      <ul class="thumbnail-grid">

        <li class="thumbnail">
          <ul><a href="single-post.html">
            <li><img src="images/thumbnails/eeeschwartz-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Web design</li></a>
          </ul>
        </li>
        <li class="thumbnail">
          <ul>
            <li><img src="images/thumbnails/elementos-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Writing</li>
          </ul>
        </li>
        <li class="thumbnail">
          <ul>
            <li><img src="images/thumbnails/schwartzography-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Web design, Content</li>
          </ul>
        </li>
        <li class="thumbnail">
          <ul>
            <li><img src="images/thumbnails/landscape-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Painting</li>
          </ul>
        </li>
        <li class="thumbnail">
          <ul>
            <li><img src="images/thumbnails/grcic-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Exhibition</li>
          </ul>
        </li>
        <li class="thumbnail">
          <ul>
            <li><img src="images/thumbnails/elizabeth-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Web design</li>
          </ul>
        </li>
        <li class="thumbnail">
          <ul>
            <li><img src="images/thumbnails/ignite-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Speaking</li>
          </ul>
        </li>
        <li class="thumbnail">
          <ul>
            <li><img src="images/thumbnails/vital-access-thumb.png" class="thumbnail-img"></li>
            <li class="highlight">Front-end Development</li>
          </ul>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/century-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Painting</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/mm-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Exhibition</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/nimec-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Web design</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/garmey-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Visual Design</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/sidewalks-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Writing</li>
            </ul>
          </li>

          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/home-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Writing</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/inbusiness-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Interview</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/pita-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Exhibition</li>
            </ul>
          </li>

          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/modern-wing-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Exhibition</li>
            </ul>
          </li>

          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/moving-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Personal Project</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/wallpaper-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Conservation</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/r-d-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Front-end Development</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/iii-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Painting</li>
            </ul>
          </li>

          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/cross-section-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Painting</li>
            </ul>
          </li>
          <li class="thumbnail">
            <ul>
              <li><img src="images/thumbnails/marcy-thumb.png" class="thumbnail-img"></li>
              <li class="highlight">Painting</li>
            </ul>
          </li>
        </li>
      </ul>

    </section>
  </section>